/*Container styles*/
.w-total {
  width: 100%;
}
.h-total {
  height: 98%;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.j-end {
  justify-content: flex-end;
}
.j-center {
  justify-content: center;
}
.j-around {
  justify-content: space-around;
}
.j-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}

/*Fonts styles*/
.title-font {
  font-family: 'Montserrat', sans-serif;
}
.title-section {
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
  margin: 0;
}
.upper-text {
  text-transform: uppercase;
}
.light-text {
  font-weight: lighter;
}

/*Colors*/
.bg-gray {
  background: #2c3e50;
  color: white;
}
.bg-green {
  background: #18bc9c;
  color: white;
}
.bg-white {
  background: #ffffff;
}
.bg-none {
  color: #2c3e50;
}
.btn-white {
  background: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 1.5vw;
  padding: 0 10px;
}
.white {
  color: #ffffff;
}
.green {
  color: #18bc9c;
}
.gray {
  color: #2c3e50;
}

/*Star separator*/
.star-div {
  text-align: center;
  max-width: 100%;
  height: 50px;
  margin: 0 auto 10px auto;
}
.star-div div {
  display: inline-block;
  height: 5px;
  width: 105px;
  margin: 0 7px;
}
.star-div span {
  font-size: 2.15vw;
}

/*Columns just in case*/
.row::before,
.row::after {
  content: "";
  display: table;
}
.row::after {
  clear: both;
}
[class*="col-"]{
  float: left;
  padding: 1%;
}
.col-4 {
  width: 33.3333%;
}
