/*Container styles*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.j-end {
  justify-content: flex-end;
}
.j-center {
  justify-content: center;
}
.j-around {
  justify-content: space-around;
}
.j-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.wrap {
  flex-wrap: wrap;
}

/*Fonts styles*/
.title-font {
  font-family: 'Montserrat', sans-serif;
}
.upper-text {
  text-transform: uppercase;
}
.light-text {
  font-weight: lighter;
}

/*Colors*/
.bg-gray {
  background: #2c3e50;
  color: white;
}
.bg-green {
  background: #18bc9c;
  color: white;
}
.bg.red {
  background: #ba4c63;
}
.bg-white {
  background: #ffffff;
}
.bg-none {
  color: #2c3e50;
}

.btn-white {
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
}

/*Star separator*/
.star-div {
  text-align: center;
  max-width: 100%;
  height: 50px;
  margin: 0 auto 10px auto;
}
.star-div div {
  display: inline-block;
  height: 5px;
  width: 105px;
  margin: 0 7px;
}
.star-div span {
  font-size: 2.15vw;
}
