/*Container styles*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.j-end {
  justify-content: flex-end;
}
.j-center {
  justify-content: center;
}
.j-around {
  justify-content: space-around;
}
.j-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.wrap {
  flex-wrap: wrap;
}

/*Fonts styles*/
.title-font {
  font-family: 'Montserrat', sans-serif;
}

.upper-text {
  text-transform: uppercase;
}

.light-text {
  font-weight: lighter;
}

/*Colores*/
.bg-gray {
  background: #2C3E50;
  color: white;
}
.bg-green {
  background: #18BC9C;
  color: white;
}

.bg-none {
  color: #2C3E50;
}
