/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow: auto;
}

/*NAV*/
.nav {
  position: fixed;
  width: 100%;
  height: 90px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.after-scroll {
  height: 60px;
}
.nav h2 {
  margin-left: 5%;
  font-size: 2.1vw;
  font-weight: 900;
  letter-spacing: 0.1vw;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.nav h2:hover {
  cursor: pointer;
}
.h2-scroll {
  font-size: 1.5vw !important;
}
.nav ul {
  margin-right: 5%;
  list-style: none;
}
.nav ul li {
  display: inline-block;
  margin-left: 25px;
}
.nav ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1vw;
  letter-spacing: 0.1vw;
}
.nav ul li a:hover {
  color: #18bc9c;
  cursor: pointer;
}
/*End Nav*/

/*HEADER*/
.header {
  width: 100%;
  height: 700px;
  padding-bottom: 5%;
}
.header img {
  width: 255px;
  height: 255px;
  margin: 15px auto;
}
.text-header {
  text-align: center;
}
.text-header h1 {
  margin: 0;
  font-size: 5.2vw;
  font-weight: 700;
}
.text-header span {
  font-size: 1.9vw;
  font-weight: lighter;
}

/*End Header*/

/*PORTFOLIO*/
.portfolio {
  height: 800px;
  max-height: 100%;
}
.portfolio-content {
  width: 80%;
  height: 500px;
}
.catalogue {
  width: 25%;
  height: 200px;
}


/**/

/*ABOUT*/

/**/

/*CONTACT*/

/**/

/*FOOTER*/

/**/
